.input-row{max-width:90%}
.input-group{position:relative;width:100%}

.input-field{
  width:100%; padding:20px 20px; border:3px solid rgba(161, 206, 206, 0.6); border-radius:20px;
  font-size:1.3rem; background:#fff; color:rgba(48, 48, 48, 0.6); transition:all .3s ease; outline:none;
}
.input-field:focus{ border-color:rgba(161, 206, 206, 0.6); box-shadow:0 0 0 3px rgba(5,179,188,.1); outline:2px solid rgba(161, 206, 206, 0.6); outline-offset:2px; }
.input-field::placeholder{ color:rgba(48, 48, 48, 0.6); font-weight:400 }

:host(.ng-valid).ng-touched .input-field { border-color:rgba(161, 206, 206, 0.6); }
:host(.ng-invalid).ng-touched .input-field { border-color:#dc3545; }
.input-field:disabled{ background-color: #f0f0f0;}
