.app-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(216, 227, 230, 0.3);
}

.main-content {
  display: flex;
  flex: 1;
}

.page-content {
  flex: 1;
  padding: 1rem;
}