/* Fundo geral */
.login-page {
  display: flex;
  height: 100vh;
  background-color: #D8E3E6;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
}