.side-menu {
  width: 16rem; /* 64 */
  border-right: 1px solid #e2e8f0; /* slate-200 */
  min-height: 100vh;
  padding-top: 1rem;
  background-color: rgb(216, 227, 230, 0.1);
}

.menu-nav {
  display: flex;
  flex-direction: column;
}

.menu-item {
  margin: 5px 10px;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  font-weight: 500;
  font-size: 1.6rem;
  color: #334155; /* slate-700 */
  text-decoration: none;
  transition: all 0.2s;
  margin-bottom: 0.25rem;
}

.menu-item:hover {
  background-color: #f1f5f9; /* slate-100 */
}

.menu-item.active {
  background-color: #eff6ff; /* azul claro */
  color: #2563eb; /* azul */
}

.icon {
  font-size: 1.25rem; /* 20px */
}
